.data-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "intensity-data-wrapper energy-mix-grid";
  padding: 40px;
  gap: 20px;
}

.intensity-data-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: intensity-data-wrapper;
  gap: 10px;
}

.data-container--carbonInt,
.data-container--energy-mix {
  border: solid 1px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.5);
  border: solid 1px rgb(255, 255, 255);
}

.data-container--carbonInt {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.data-container--carbonInt h5,
.data-container--energy-mix h5 {
  width: 100%;
  font-weight: 500;
  font-size: 1.1rem;
  color: rgb(76, 76, 76);
}

.data-container--carbonInt h6 {
  border-right: solid 3px rgb(242, 242, 242);
  padding-right: 15px;
}

.data-container--carbonInt h6 span {
  display: block;
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
  color: rgb(79, 110, 49);
}

.data-container--carbonInt h6 span span {
  display: block;
  font-size: 0.7rem;
  font-weight: 400;
}

.data-container--carbonInt p {
  text-transform: capitalize;
  font-size: 0.7rem;
  padding: 10px;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  text-align: center;
}

.data-container--carbonInt p span {
  display: block;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.data-container--carbonInt .high span {
  background-color: rgb(232, 44, 6);
  color: rgb(255, 255, 255);
}

.data-container--carbonInt .moderate span {
  background-color: rgb(141, 192, 21);
  color: rgb(255, 255, 255);
}

.data-container--energy-mix div {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.data-container--energy-mix p {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 0.8rem;
  line-height: 1.2;
  background: rgb(74, 152, 121);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.data-container--energy-mix p span {
  display: block;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.data-container--energy-mix p span span {
  display: inline;
  font-size: 1rem;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

@media (max-width: 900px) {
  .data-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "intensity-data-wrapper"
      "energy-mix-grid";
  }

  .intensity-data-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .data-container--carbonInt h5,
  .data-container--energy-mix h5 {
    font-size: 0.9rem;
  }

  .data-container--carbonInt h6 span {
    font-size: 2rem;
  }

  .data-container--carbonInt h6 span span {
    display: block;
    font-size: 0.6rem;
    font-weight: 400;
  }

  .data-container--carbonInt p {
    font-size: 0.6rem;
  }

  .data-container--carbonInt p span {
    font-size: 0.7rem;
    margin-bottom: 5px;
  }

  .data-container--energy-mix p {
    font-size: 0.7rem;
    line-height: 1.1;
  }

  .data-container--energy-mix p span {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .intensity-data-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .data-container {
    padding: 20px;
    gap: 10px;
  }
}
