.search-form-container {
  margin: 20px 20px 0 20px;
  padding: 20px;
  background-color: rgb(145, 174, 117);
  border-radius: 10px;
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-form-container h5 {
  font-weight: 400;
  text-align: center;
}

.search-form-container select {
  max-width: 100%;
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
}
