.energy-mix {
  grid-area: energy-mix-grid;
}

.energy-mix h5 {
  font-weight: 600;
  font-size: 1.4rem;
}

.energy-mix ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
}

.energy-mix ul li {
  padding: 20px 20px 20px 55px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.5);
  border: solid 1px rgb(255, 255, 255);
  transition: 0.5s;
}

.energy-mix ul li:hover {
  box-shadow: 3px 3px 10px rgb(196, 196, 196);
  border: solid 1px rgb(216, 216, 216);
}

.energy-mix ul li p {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 200;
}
.energy-mix ul li p span {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  color: rgb(107, 107, 107);
  margin-left: 10px;
}
.bar-chart-container {
  background-color: rgb(237, 241, 239);
  border-radius: 7px 0 7px 0;
}
.energy-mix ul li .bar-chart-container div {
  background-color: rgb(74, 152, 121);
  height: 15px;
  border-radius: 7px 0 7px 0;
}

.energy-mix ul li {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 35px;
}
.energy-mix ul .nuclear {
  background-image: url("../../../public/icons/nuclear.png");
}

.energy-mix ul .wind {
  background-image: url("../../../public/icons/wind.png");
}

.energy-mix ul .solar {
  background-image: url("../../../public/icons/solar.png");
}

.energy-mix ul .gas {
  background-image: url("../../../public/icons/gas.png");
}

.energy-mix ul .hydro {
  background-image: url("../../../public/icons/hydro.png");
}

.energy-mix ul .coal {
  background-image: url("../../../public/icons/coal.png");
}

.energy-mix ul .biomass {
  background-image: url("../../../public/icons/biomass.png");
}

.energy-mix ul .other {
  background-image: url("../../../public/icons/other.png");
}

.energy-mix ul .imports {
  background-image: url("../../../public/icons/imports.png");
}

@media (max-width: 800px) {
  .energy-mix ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .energy-mix ul {
    grid-template-columns: 1fr;
  }
}
